#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.start-btn {
  display: block;
  margin-inline: auto;
  background-color: rgb(236, 107, 107);
  border: 1px solid black;
}
